form {
    text-align: center;    
    /* display: inline-block; */
}

form .form-example {
    margin-bottom: 20px;
}

form .form-example input {
    text-align: center;
}

#number {
    text-align: center;
    width: 44px;
}

#site {
    font-size: 18px;
    line-height: 140%;
}

#sites-recents{
    font-size: 18px;
}

#URL {
    width: 434px;
    /*width: 70vw;*/
}

#progressbar {
    width:400px;
    height: 40px;
}

#td-padding {
    padding-left: 15px;
    text-align: center;
}

.table-head-top-50{
    font-weight: bold;
}

@media (max-width: 700px) {
    #progressbar {
        width: 70vw;
    }

    #URL {
        width: 80vw;
    }

    #site {
        font-size: 15px;
        line-height: 120%;
    }

    .content-inside {        
        padding-left: 25px; /* -20 pour le tableau, faire une div + 20 pour le texte */
        padding-bottom: 150px;
    }

    .text-padding{
        padding-left: 20px;
    }
    
  }
