@import url('https://fonts.googleapis.com/css?family=Abel|Montserrat|Patua+One&display=swap');

* {
	margin: 0;
    padding: 0;
}

div#content {
    background-color: #000;
}

div#content div{
    display: inline-block;
    width: 48%;
}   

div#content div h1, p{
    margin: 50px;
}
div#content div.leftbox{
    background-color: yellow;
    vertical-align: top;
}



div#content div.rightbox{
    background-color: green;
}

nav.menu-nav ul li.btn{
    list-style-type: none;
    display: inline-block;
}

nav.menu-nav ul li.btn a{
    color : white;
    background-color: gray;
    text-decoration: none;
}

nav.menu-nav ul li.btn:hover a{
    color : gray;
    background-color: white;
    transition : 0.3s all; 
}

/*font-family: 'Abel', sans-serif;
font-family: 'Patua One', cursive;
font-family: 'Montserrat', sans-serif;
*/
body {
    background: #eee;
}
.bg-image {
    width: 100%;
    height: 600px;
    background: url('/IMAGES/robot.jpg') ;   
}

.container{
    width: 960px;
    height: 600px;
    position: relative;
    margin: 0 auto;
}
/*nav ul{
    position: absolute;
    right: 0;
}
nav ul li{
    List-style: none;
    float: left;
    margin-left:2px;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Abel', sans-serif;
    color : #FFF;
    font-size: 14px;
    font-weight: bold;
    padding: 0 20px 0 20px;
}

.btn {

}
background-color: #F3F3F3;
    padding: 0.5rem;
    align-content: space-between;
*/
header {
    background-color: gray;
    padding: 0.9rem;
    height: 35px;
    display: flex;
    
}

footer {
    align-content: space-between;
    background-color: #000;
    color : white;
    text-align: center;
}
